<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

    {% if page.url == "/" %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Ryan-Ashleigh Boey",
      "alternateName": "Ryan Boey",
      "url": "https://r-boey.github.io/"
    }
    </script>
    {% endif %}

</head>

<body>

    {% include header.html %}

    <main class="container">
        <article>
            {{ content }}
        </article>
    </main>

    {% include footer.html %}

</body>
</html>
